    .mtitle{
        height: 29px;
        margin: 0 auto;
        padding: 2px ;
        text-indent: 2em;
        font-weight: bold;
        color: #859E69;
        margin-bottom: 1em;
        background: url(../images/mtitle_bg.jpg) repeat-x;
    }
    /*按钮*/
    .btn{
        height:19px;
        padding-left:3px;
        padding-right:3px;
        font-size:12px;
        line-height:27px;
        color:#333;
        border:1px solid #88AC44;
        background:url(../images/button_bg1.jpg) left center repeat-x;
        cursor:pointer;
    }
    .content_tab{ line-height: 24px; border-collapse: collapse;font-size: 12px; width: 100%;}
    .content_tab, .content_tab td,  .content_tab th{ border: 1px solid #88AC88;  }
    .content_tab .th{ background-color: #FAFEE9;}
    .content_tab .center{ text-align: center;}
    .content_tab .indent{text-indent: 1em;}
    .content_tab .old{ background-color: #F7FAF3;}
    .content_tab .txt{ width: 400px;}
     h3{ text-indent: 2em; color: #4169e1;}
    .note{ color:#ff7f50;}
